{% load static %}


	<div class="footer" style="padding: 0 0 0 12px">
		
		<input type="image" src="{% static 'upIcon2.png' %}" onclick="topFunction()" id="goUpBtn" title="Go to top" style= "display: none;"/>

	<div>
	

	
	<script>
//Get the button
var mybutton = document.getElementById("goUpBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
