{% load static %}


	<div class="footer" style="padding: 0 0 0 12px">
		
		<input type="image" src="{% static 'upIcon2.png' %}" onclick="topFunction()" id="goUpBtn" title="Go to top" style= "display: none;"/>
		<p id="round" align="Center">{% if status.galsel == 1 %}Regular Tick{% else %}Fast Tick{% endif %}</p>
	<div>
	

	
	<script>
//Get the button
var mybutton = document.getElementById("goUpBtn");
var myround = document.getElementById("round");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
	myround.style.display = "none";
  } else {
    mybutton.style.display = "none";
	myround.style.display = "block";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
