{% extends "baseex.html" %}

{% load static %}

{% block content %}

{% if error %}
{{error}}
{% endif %}
{%  if battle_report.fleet_readiness < -100 %}
	<b>Your forces require time to recover and prepare before engaging a new battle.<br>
	Forcing them to attack would have more than disastrous consequences. </b>
{%  elif battle_report.fleet_readiness < -60 %}
	<b>Your forces are completely unprepared for another battle!<br>
	Their effectiveness will be greatly reduced, you can also expect desertions.</b>
{%  elif battle_report.fleet_readiness < -40 %}
	<b>Your forces are exhausted, their effectiveness in battle will be very low.</b>
{%  elif battle_report.fleet_readiness < -20 %}
	<b>Your forces are very tired and certainly won't fight well.</b>
{%  elif battle_report.fleet_readiness < 0 %}
	"<b>Your forces seem to require rest, they won't be fighting as well
	 as they could in different circumstances.</b>
{% endif %}

<style>
input {
text-align: center;
}

label {display: inline;}
</style>

<script>
 
{% for fleet_nr, fleet_units  in display_fleet.items %} 
 function show_orders{{fleet_nr.id}}() {
		var val = document.getElementById('{{fleet_nr.id}}order').value;
		if (val == '0' || val == '1') {
			document.getElementById('{{fleet_nr.id}}coord_X_Y').style.display = 'inline';
			document.getElementById('{{fleet_nr.id}}coord_I').style.display = 'inline';
			document.getElementById('split_fleet').style.display = 'none';
		}
		else if (val == '2' || val == '3'){
			document.getElementById('{{fleet_nr.id}}coord_X_Y').style.display = 'inline';
			document.getElementById('{{fleet_nr.id}}coord_I').style.display = 'none';
			document.getElementById('{{fleet_nr.id}}split_fleet').style.display = 'none';
		}
		else if (val == '6'){
			document.getElementById('{{fleet_nr.id}}coord_X_Y').style.display = 'none';
			document.getElementById('{{fleet_nr.id}}coord_I').style.display = 'none';
			document.getElementById('{{fleet_nr.id}}split_fleet').style.display = 'inline';
		}
		else {
			document.getElementById('{{fleet_nr.id}}coord_X_Y').style.display = 'none';
			document.getElementById('{{fleet_nr.id}}coord_I').style.display = 'none';
			document.getElementById('{{fleet_nr.id}}split_fleet').style.display = 'none';
		}
	}
{% endfor %}

</script>

<br>
{% for fleet_nr, fleet_units  in display_fleet.items %}
<table width="100%" align="center">
					<tr class="spaceUnder">
					<input type="hidden" id="fleet_nr" name="fleet_nr" value="{{fleet_nr.id}}">

						<td>
						{% for unit_name, unit_nr in fleet_units.items %}
							{{unit_name}}: {{unit_nr}}<br>
						{% endfor %}
						</td>
						<td>
						{% if status.galsel == 1 %}
						{% if fleet_nr.command_order == 0 %}
							Attack planet <a href="#" onclick="window.parent.open('/planet{{fleet_nr.target_planet.id}}', '_self');return false;">{{fleet_nr.x}},{{fleet_nr.y}}:{{fleet_nr.i}}</a>
							{% if fleet_nr.target_planet.owner != None %}
							<br><a href="#" onclick="window.parent.open('/account{{fleet_nr.target_planet.owner.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.userstatus.user_name}}</a>
							of <a hhref="#" onclick="window.parent.open('/empire{{fleet_nr.target_planet.owner.userstatus.empire.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.userstatus.empire.name_with_id}}</a>
							{% endif %}
						{% elif fleet_nr.command_order == 1 %}
							Station on planet <a href="#" onclick="window.parent.open('/planet{{fleet_nr.target_planet.id}}', '_self');return false;">{{fleet_nr.x}},{{fleet_nr.y}}:{{fleet_nr.i}}</a>
							{% if fleet_nr.target_planet.owner != None %}
							<br><a href="#" onclick="window.parent.open('/account{{fleet_nr.target_planet.owner.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.userstatus.user_name}}</a> 
							of <a href="#" onclick="window.parent.open('/empire{{fleet_nr.target_planet.owner.userstatus.empire.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.userstatus.empire.name_with_id}}</a>
							{% endif %}
						{% elif fleet_nr.command_order == 2 %}
							Move to system {{fleet_nr.x}},{{fleet_nr.y}}
						{% elif fleet_nr.command_order == 3 %}
							Merge in system {{fleet_nr.x}},{{fleet_nr.y}}
						{% elif fleet_nr.command_order == 4 %}
							Auto merge in system {{fleet_nr.x}},{{fleet_nr.y}}
						{% elif fleet_nr.command_order == 5 %}
							Join main fleet at <a href="#" onclick="window.parent.open('/planet{{fleet_nr.target_planet.id}}', '_self');return false;">{{fleet_nr.x}},{{fleet_nr.y}}</a>
						{% elif fleet_nr.command_order == 8 %}
							Stationed on planet  <a href="#" onclick="window.parent.open('/planet{{fleet_nr.target_planet.id}}', '_self');return false;">{{fleet_nr.x}},{{fleet_nr.y}}:{{fleet_nr.i}}</a>
							{% if fleet_nr.target_planet.owner != None %}
							<br><a href="#" onclick="window.parent.open('/account{{fleet_nr.target_planet.owner.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.userstatus.user_name}}</a> 
							of <a href="#" onclick="window.parent.open('/empire{{fleet_nr.target_planet.owner.userstatus.empire.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.userstatus.empire.name_with_id}}</a>
							{% endif %}
						{% endif %}
						{% elif status.galsel == 2 %}
						{% if fleet_nr.command_order == 0 %}
							Attack planet <a href="#" onclick="window.parent.open('/galtwo/planet{{fleet_nr.target_planet.id}}', '_self');return false;">{{fleet_nr.x}},{{fleet_nr.y}}:{{fleet_nr.i}}</a>
							{% if fleet_nr.target_planet.owner != None %}
							<br><a href="#" onclick="window.parent.open('/galtwo/account{{fleet_nr.target_planet.owner.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.galtwouser.user_name}}</a> 
							of <a href="#" onclick="window.parent.open('/galtwo/empire{{fleet_nr.target_planet.owner.userstatus.empire.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.galtwouser.empire.name_with_id}}</a>
							{% endif %}
						{% elif fleet_nr.command_order == 1 %}
							Station on planet <a href="#" onclick="window.parent.open('/galtwo/planet{{fleet_nr.target_planet.id}}', '_self');return false;">{{fleet_nr.x}},{{fleet_nr.y}}:{{fleet_nr.i}}</a>
							{% if fleet_nr.target_planet.owner != None %}
							<br><a href="#" onclick="window.parent.open('/galtwo/account{{fleet_nr.target_planet.owner.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.galtwouser.user_name}}</a> 
							of <a href="#" onclick="window.parent.open('/galtwo/empire{{fleet_nr.target_planet.owner.userstatus.empire.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.galtwouser.empire.name_with_id}}</a>
							{% endif %}
						{% elif fleet_nr.command_order == 2 %}
							Move to system {{fleet_nr.x}},{{fleet_nr.y}}
						{% elif fleet_nr.command_order == 3 %}
							Merge in system {{fleet_nr.x}},{{fleet_nr.y}}
						{% elif fleet_nr.command_order == 4 %}
							Auto merge in system {{fleet_nr.x}},{{fleet_nr.y}}
						{% elif fleet_nr.command_order == 5 %}
							Join main fleet at <a href="#" onclick="window.parent.open('/galtwo/planet{{fleet_nr.target_planet.id}}', '_self');return false;">{{fleet_nr.x}},{{fleet_nr.y}}</a>
						{% elif fleet_nr.command_order == 8 %}
							Stationed on planet  <a href="#" onclick="window.parent.open('/galtwo/planet{{fleet_nr.target_planet.id}}', '_self');return false;">{{fleet_nr.x}},{{fleet_nr.y}}:{{fleet_nr.i}}</a>
							{% if fleet_nr.target_planet.owner != None %}
							<br><a href="#" onclick="window.parent.open('/galtwo/account{{fleet_nr.target_planet.owner.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.galtwouser.user_name}}</a> 
							of <a href="#" onclick="window.parent.open('/galtwo/empire{{fleet_nr.target_planet.owner.userstatus.empire.id}}', '_self');return false;">{{fleet_nr.target_planet.owner.galtwouser.empire.name_with_id}}</a>
							{% endif %}
						{% endif %}
						{% endif %}
						

						</td>
						<td>
						{% if fleet_nr.ticks_remaining > 0 %}
							Moving, {{fleet_nr.ticks_remaining}} week(s)
						{% elif fleet_nr.command_order == 3 or fleet_nr.command_order == 4 %}
							Fleet merged
						{% elif fleet_nr.command_order == 2 %}
							Fleet hoovering at position
						{% elif fleet_nr.command_order == 8 %}
							Stationed
						{% elif fleet_nr.command_order == 0 %}
						{% if status.galsel == 1 %}
						<a href = "/batt{{fleet_nr.id}}">Attack planet!</a>
						{% elif status.galsel == 2 %}
						<a href = "/galtwo/batt{{fleet_nr.id}}">Attack planet!</a>
						{% endif %}
							
						{% endif %}
						</td>
						<td>{{fleet_nr.current_position_x | floatformat}}, {{fleet_nr.current_position_y | floatformat}}</td>


					</tr>
					
					<td align="center" colspan="100" id="{{fleet_nr.id}}">
			{% if status.galsel == 1 %}
			<form action="/fleet_orders_process" method="POST">
			{% elif status.galsel == 2 %}
			<form action="/galtwo/fleet_orders_process" method="POST">
			{% endif %}
			{% csrf_token %}
			
			<select name="order" id="{{fleet_nr.id}}order" class="spaceUnder" style="width: 110px;" onchange="show_orders{{fleet_nr.id}}()">
			<option value="0" selected>Attack the planet
			<option value="1">Station on planet
			<option value="2">Move to system
			<option value="3">Merge in system (choose system yourself)
			<option value="4">Merge in system (auto/optimal)
			<option value="5">Join main fleet
			<option value="6">Split fleets
			</select>

			<input type="hidden" name="fleet_select_hidden" value="{{fleet_nr.id}}" />

			<div id="{{fleet_nr.id}}coord_X_Y" style="display:inline">
			<label for="fleet_select_X"> X:</label><input class="spaceUnder" id="fleet_select_X" value="{{fleet_nr.x}}" pattern="[0-9]+" type="text" name="X" size="4">
			<label for="fleet_select_Y"> Y:</label><input class="spaceUnder" id="fleet_select_Y" value="{{fleet_nr.y}}" pattern="[0-9]+" type="text" name="Y" size="4"> 
			</div>
			
			<div id="{{fleet_nr.id}}coord_I" style="display:inline">
			<label for="fleet_select_I"> Planet:</label><input class="spaceUnder" id="fleet_select_I" value="{{fleet_nr.i}}" pattern="[0-9]+" type="text" name="I" size="4">
			</div>
			
			<div id="{{fleet_nr.id}}split_fleet" style="display:none">
			Fleet split:<input class="spaceUnder" id="split_pct" min = "0" max = "100" type="number" name="split_pct" size="4"> %
			</div>
			
			<input type="submit" value="Send">
			</form>
			</td>
					
				{% endfor %}

</table>
<br><br>
{% if battle_report.p1.phase == True %}
<div class = "wrap_box">
	<br><b>Phase 1 - Defending cruisers engage approaching cruisers and carriers, carrying all other vessels, at long range.</b><br><br>
	{% if battle_report.p1.def_flee == True %}
		Your fleet didn't encounter much resistance, it seems enemy forces preferred not to directly engage us<br>
	{% else %}
		<div class = "left_box_battle">
			Attacker losses:<br>
			{% for unit, loss in  battle_report.p1.att_loss.items %}
				{% if loss > 0 %}
				{{unit}}: {{loss}}<br>
				{% endif %}
			{% endfor %}
		</div>
		<div class = "right_box_battle">
			Defender losses:<br>
			{% for unit, loss in  battle_report.p1.def_loss.items %}
				{% if loss > 0 %}
				{{unit}}: {{loss}}<br>
				{% endif %}
			{% endfor %}
		</div>
		<br>
	{% endif %}
</div>
{% if battle_report.p1.att_flee == True %}
	Overwhelmed by defending enemy forces, your fleet hastidly retreated to minimize losses<br>
{% endif %}
{% endif %}

{% if battle_report.p2.phase == True %}
<div class = "wrap_box">
	<br><b>Phase 2 - Defending fighters and cruisers intercepts enemy vessels, attempting to destroy transports before they land.</b><br><br>
	{% if battle_report.p2.def_flee == True %}
		Your fleet didn't encounter much resistance, it seems enemy forces preferred not to directly engage us!<br>
	{% else %}
		<div class = "left_box_battle">
			Attacker losses:<br>
			{% for unit, loss in  battle_report.p2.att_loss.items %}
				{% if loss > 0 %}
				{{unit}}: {{loss}}<br>
				{% endif %}
			{% endfor %}
		</div>
		<div class = "right_box_battle">
			Defender losses:<br>
			{% for unit, loss in  battle_report.p2.def_loss.items %}
				{% if loss > 0 %}
				{{unit}}: {{loss}}<br>
				{% endif %}
			{% endfor %}
		</div>
		<br>
	{% endif %}
</div>
{% if battle_report.p2.att_flee == True %}
	Overwhelmed by defending enemy forces, your fleet hastidly retreated to minimize losses!<br>
{% endif %}
{% endif %}

{% if battle_report.p3.phase == True %}
<div class = "wrap_box">
	<br><b>Phase 3 - Ground units guarding the planet with anti-air capabilities fire at the landing transports, protected by bombers and cruisers.</b><br><br>
	{% if battle_report.p3.def_flee == True %}
		Your fleet didn't encounter much resistance, it seems enemy forces preferred not to directly engage us!<br>
	{% else %}
		<div class = "left_box_battle">
			Attacker losses:<br>
			{% for unit, loss in  battle_report.p3.att_loss.items %}
				{% if loss > 0 %}
				{{unit}}: {{loss}}<br>
				{% endif %}
			{% endfor %}
		</div>
		<div class = "right_box_battle">
			Defender losses:<br>
			{% for unit, loss in  battle_report.p3.def_loss.items %}
				{% if loss > 0 %}
				{{unit}}: {{loss}}<br>
				{% endif %}
			{% endfor %}
		</div>
		<br>
	{% endif %}
</div>
{% if battle_report.p3.att_flee == True %}
	Overwhelmed by defending enemy forces, your fleet hastidly retreated to minimize losses!<br>
{% endif %}
{% endif %}

{% if battle_report.p4.phase == True %}
<div class = "wrap_box">
	<br><b>Phase 4 - Attacking ground forces, with support from bombers and cruisers, attempting to take control of the planet.</b><br><br>
	
	{% if battle_report.p4.def_flee == True %}
			<div class = "left_box_battle">
			Attacker losses:<br>
			{% for unit, loss in  battle_report.p4.att_loss.items %}
				{% if loss > 0 %}
				{{unit}}: {{loss}}<br>
				{% endif %}
			{% endfor %}
		</div>
		<div class = "right_box_battle">
			Defender losses:<br>
			{% for unit, loss in  battle_report.p4.def_loss.items %}
				{% if loss > 0 %}
				{{unit}}: {{loss}}<br>
				{% else %}
				{% endif %}
			{% endfor %}
		</div>
		<br>
	{% else %}
		<div class = "left_box_battle">
			Attacker losses:<br>
			{% for unit, loss in  battle_report.p4.att_loss.items %}
				{% if loss > 0 %}
				{{unit}}: {{loss}}<br>
				{% endif %}
			{% endfor %}
		</div>
		<div class = "right_box_battle">
			Defender losses:<br>
			{% for unit, loss in  battle_report.p4.def_loss.items %}
			{% if unit != "Energy" %}
			{% if unit != "Mineral" %}
			{% if unit != "Crystal" %}
			{% if unit != "Ectrolium" %}
				{% if loss > 0 %}
				{{unit}}: {{loss}}<br>
				{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
			{% endfor %}
		</div>
		<br>
	{% endif %}
</div>
{% if battle_report.p4.att_flee == True %}
	Overwhelmed by defending enemy forces, your fleet hastidly retreated to minimize losses!<br>
{% endif %}
{% endif %}


{% if battle_report.won == "A" %}
	<span style="color:green"><b>You won, the planet is yours!</b>
	</span>
{% elif battle_report.won == "D" %}
	<span style="color:red"><b>Defender wins!</b></span>
{% elif battle_report.won == "C" %}
	<span style="color:red"><b>Attack cancelled!</b></span>
{% endif %}<br>
{% if Ironside.empire_holding == status.empire %}
	<font color="white"><br>We managed to steal the following resources!<br>{% for unit, loss in  battle_report.p4.def_loss.items %}
				{% if unit == "Energy" or unit == "Mineral" or unit == "Crystal" or unit == "Ectrolium" %}
				{{loss}} {{unit}}<br>
{% endif %}
			{% endfor %}
	</font>{% endif %}



{% endblock %}
