{% extends "base.html" %}

{% load static %}

{% block content %}

<style>
#logo-holder {position:relative; width:100px; height:100px;}
#logo-holder .image {
    height: 70;
    width: 70;
}
#logo-holder .text {transition: opacity 0.5s ease-in-out;}
#logo-holder .text {position:absolute; top:0; left:0; opacity:0;}


#logo-holder:hover .image {opacity:0;}
#logo-holder:hover .text {opacity:1;}
</style>

<script>
function costbuild() {
		document.getElementById("totcost").style.display = 'block';
		var solar = 0
		var min = 0
		var cry = 0
		var ect = 0
		
		var planet_size = 0

		var ob = 0
		var built = 0
		var n = 0
		var o = 0
		var p = 0
		
		var q = 0
		
		var obmax = 0
		var maxob = 0
		var maxob2 = 0
		
		{% for planet in b_planets %}
			var build{{planet.id}} = Math.round(({{planet.total_buildings}}+{{planet.buildings_under_construction}}) - ({{planet.defense_sats}} + {{planet.shield_networks}}))
			{% if planet.portal == True %}
			build{{planet.id}} = build{{planet.id}} - 1
			{% endif %}
			
			
			if (document.getElementById('obcheck').checked) {
				obmax = +document.getElementById('oblimit').value
                maxob = obmax / 100 +1
				maxob2 = Math.sqrt(maxob)
				var totalbuild{{planet.id}} = Math.floor(maxob2 * {{planet.size}})
				totalbuild{{planet.id}} = totalbuild{{planet.id}}-build{{planet.id}}
				
			}
		{% endfor %}
		
		{% for cost in costs %}
		{% if cost.penalty != None %}
			{% if cost.name != "Portal" %}
			var gx = +document.getElementById('{{forloop.counter0}}').value
			{% endif %}
			{% for planet in b_planets %}
			var x = +gx;
			var z = +x;
			
			if (document.getElementById('obcheck').checked) {
				if (x > totalbuild{{planet.id}}){
						x = totalbuild{{planet.id}} 
						z = totalbuild{{planet.id}} 
					}
			}
			
			ob = Math.min(Math.max(0, {{planet.size}} - build{{planet.id}}), x)
			built = x - ob
			n = Math.max(build{{planet.id}},{{planet.size}})
			o = built + n
			o = (o * (o + 1) * (2 * o + 1)) / 6
			p = (n * (n + 1) * (2 * n + 1)) / 6
			ob += (o - p) / Math.pow({{planet.size}},2)	
			
			q = ob/x
			
			{% if cost.name == "Portal" %}
			if (document.getElementById('b_portal').checked) {
				{% if planet.portal == False %}
					var gx = +1
					var x = +gx;
					var z = +x;
					q = 1
				{% else %}
					var z = 0;
				{% endif %}
				}
			{% endif %}
			while (z > 0) {
				{% for resource in cost.cost %}
					{% if resource.value > 0 %}
						var y = q * {{resource.value}}
						if(y>0){
							{% if resource.name == "Energy" %}
								solar += y;
							{% endif %}
							{% if resource.name == "Mineral" %}
								min += y;		
							{% endif %}
							{% if resource.name == "Crystal" %}
								cry += y;	
							{% endif %}
							{% if resource.name == "Ectrolium" %}
								ect += y;
							{% endif %}
						}
					{% endif %}	
					
				{% endfor %}
			z -= 1
			;}
			if (document.getElementById('obcheck').checked) {
				totalbuild{{planet.id}} -= x
				build{{planet.id}} += x
				}
			solar = Math.ceil(solar)
			min = Math.ceil(min)
			cry = Math.ceil(cry)
			ect = Math.ceil(ect)
			{% endfor %}
			{% endif %}
		
		{% endfor %}
		
		document.getElementById('solar').value = solar;
		document.getElementById('min').value = min;
		document.getElementById('crys').value = cry;
		document.getElementById('ect').value = ect;
		
		if(solar > {{status.energy}}){document.getElementById("solar").style.color = 'red';}
		else{document.getElementById("solar").style.color = 'green';}
		if(min > {{status.minerals}}){document.getElementById("min").style.color = 'red';}
		else{document.getElementById("min").style.color = 'green';}
		if(cry > {{status.crystals}}){document.getElementById("crys").style.color = 'red';}
		else{document.getElementById("crys").style.color = 'green';}
		if(ect > {{status.ectrolium}}){document.getElementById("ect").style.color = 'red';}
		else{document.getElementById("ect").style.color = 'green';}
		
}
</script>

<div id="totcost" style="position:fixed; right:0; bottom:0; background-color:#0b1119; color:white; z-index: 99; width: 100%">
  <td><b>Energy: <input type="text" id="solar" value="0" size="10vw" readonly style=" border:none; background-color:#0b1119;"></b></td>
  <td><b>Mineral: <input type="text" id="min" value="0" size="10vw" readonly style=" border:none; background-color:#0b1119;"></b></td>
    <div class="content-mobile"><br></div>
  <td><b>Crystal: <input type="text" id="crys" value="0" size="10vw" readonly style=" border:none; background-color:#0b1119;"></b></td>
  <td><b>Ectrolium: <input type="text" id="ect" value="0" size="10vw" readonly style=" border:none; background-color:#0b1119;"></b></td>
</div>
<br>
Building on {{num_planets}} Planets
<br><br>
{% if msg %}
    {{msg|safe|linebreaks}}
    <br>
    <br>
{% endif %}


  <form action="" method="POST">
<input type='checkbox' name='obcheck' id='obcheck'>Overbuild to: <td valign="top"><input type="number" max="999999" style="width: 7em" value ="0" name="oblimit" id="oblimit"> %</td> 
  
  {% csrf_token %}
  <input type="hidden" name="planets_passed_id_mass_build">
  <table cellspacing="6" align="center">
  <tr>
      <td><b>Building</b></td>
      <td><b>Cost</b></td>
      <td><b>&nbsp;&nbsp;Owned&nbsp;&nbsp;</b></td>
      <td><b>Build</b></td>
  </tr>



  {% for cost in costs %}
  <tr style="line-height: 1;">
  	<td><font color="#FFFFFF">{{cost.name}}</font><br><div id="logo-holder">
    <img class="image" src="{% static '/buildings/'|add:cost.name|add:'.png' %}" width="70" height="70" title ="{{cost.name}}" />
	{% for key,val in building_helper.items %}
	
	<div class="text">
	{% for k,v in val.items %}
	{% if key == cost.name %}
	<table align="center" cellspacing="1">
	<tr>
      <td width="50"><b>{{k}}</b></td>
      <td width="50">{{v}}</td>
	</tr>
	</table>
	{% endif %}
	{% endfor %}
	{% endfor %}
  </div> 
</div></td>
      {% if cost.cost == None %}
          <td valign="top" nowrap><font color="#FF0000">Unavailable<br>Tech too low</font></td>
          <td valign="top" align="center">{{cost.owned}}</td>
          <td>&nbsp;</td></tr>
      {% elif cost.name == "Portal" and portal %}
          <td valign="top" nowrap>Already present</td>
          <td valign="top" align="center">{{cost.owned}}</td>
          <td>&nbsp;</td></tr>
      {% elif cost.name == "Portal" and portal_under_construction %}
          <td valign="top" nowrap>Under construction</td>
          <td valign="top" align="center">{{cost.owned}}</td>
          <td>&nbsp;</td></tr>
      {% else %}
          <td valign="top"" nowrap>
          {% for resource_cost in cost.cost %}
              {% if resource_cost.value > 0 %}
                  {{resource_cost.value}} {{resource_cost.name}}<br>
              {% endif %}
          {% endfor %}
          {% if cost.penalty > 0 %}
              <font color="#FF2020">Tech : +{{cost.penalty}}% costs</font><br>
          {% endif %}
          </td>
          <td valign="top" align="center">{{cost.owned}}</td>
          {% if cost.name == "Portal" %}
              <td valign="top"><input type="checkbox" name="{{forloop.counter0}}" id="b_portal" onchange="costbuild()">Build a portal</td>
          {% else %}
              <td valign="top"><input type="number" max="999999999" style="width: 5em" value ="0" name="{{forloop.counter0}}" id="{{forloop.counter0}}" onchange="costbuild()"></td>
          {% endif %}
      {% endif %}
  </tr>
  <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
  {% endfor %}
  </td></tr>
  </table>


  <input type="submit" value="Build"></form>



{% endblock %}
