{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% block content %}

{% if message != '' %}
{{message}}
<br>
{% endif %}

Increase fundings
<div align="center">
<br>
{% if status.galsel == 1 %}
<form action="/research" method="POST" >
{% elif status.galsel == 2 %}
<form action="/galtwo/research" method="POST" >
{% endif %}
{% csrf_token %}
<input type="text" pattern="[0-9]+" maxlength="12" id="fund" name="fund" size="12" onkeyup="if(this.value > {{status.energy}}) this.value = {{status.energy}};">&nbsp;
<input type="submit" name="fund_form" value="Fund">
</form>
<br>

Current research fundings : {{status.current_research_funding}}
<div class="content-desktop">

{% if status.galsel == 1 %}
<form action="/research" method="POST" >
{% elif status.galsel == 2 %}
<form action="/galtwo/research" method="POST" >
{% endif %}
{% csrf_token %}
<table style = "border-collapse:separate;border-spacing:10px;">
<tr><td>Military</td> <td>{{status.research_points_military|intcomma}} Points</td> <td>{{status.research_percent_military}}%</td> <td>Increases your units attack and defense strength</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="military" size="10" value ="{{status.alloc_research_military}}"><td></tr>
<tr><td>Construction</td> <td>{{status.research_points_construction|intcomma}} Points</td> <td>{{status.research_percent_construction}}%</td> <td>Reduces construction costs and building time </td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="construction" size="10" value ="{{status.alloc_research_construction}}"><td></tr>
<tr><td>Technology</td> <td>{{status.research_points_tech|intcomma}} Points</td> <td>{{status.research_percent_tech}}%</td> <td>Allow construction of advanced units and buildings</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="technology" size="10"  value ="{{status.alloc_research_tech}}"><td></tr>
<tr><td>Energy</td> <td>{{status.research_points_energy|intcomma}} Points</td> <td>{{status.research_percent_energy}}%</td> <td>Increases your energy production efficency</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="energy" size="10"  value ="{{status.alloc_research_energy}}"><td></tr>
<tr><td>Population</td> <td>{{status.research_points_population|intcomma}} Points</td> <td>{{status.research_percent_population}}%</td> <td>Increases population capacity and rate of growth</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="population" size="10"  value ="{{status.alloc_research_population}}"><td></tr>
<tr><td>Culture</td> <td>{{status.research_points_culture|intcomma}} Points</td> <td>{{status.research_percent_culture}}%</td> <td>Increases psychics capabilities</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="culture" size="10"  value ="{{status.alloc_research_culture}}"><td></tr>
<tr><td>Operations</td> <td>{{status.research_points_operations|intcomma}} Points</td> <td>{{status.research_percent_operations}}%</td> <td>Increases the effectiveness of your agents</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="operations" size="10"  value ="{{status.alloc_research_operations}}"><td></tr>
<tr><td>Portals</td> <td>{{status.research_points_portals|intcomma}} Points</td> <td>{{status.research_percent_portals}}%</td> <td>Increases portal coverage and reduces their upkeep cost</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="portals" size="10"  value ="{{status.alloc_research_portals}}"><td></tr>
</table>
<input type="submit" name="rc_alloc_form" value="Change" >
</form>
</div>

<div class="content-mobile">
<div class="divColumn">
{% if status.galsel == 1 %}
<form action="/research" method="POST" >
{% elif status.galsel == 2 %}
<form action="/galtwo/research" method="POST" >
{% endif %}
{% csrf_token %}
<table style = "border-collapse:separate;border-spacing:10px;">
<tr><td>Military<br>{{status.research_points_military|intcomma}} Points</td> <td>{{status.research_percent_military}}%</td> <td>Increases your units attack and defense strength</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="military" size="3" value ="{{status.alloc_research_military}}"><td></tr>
<tr><td>Construction<br>{{status.research_points_construction|intcomma}} Points</td> <td>{{status.research_percent_construction}}%</td> <td>Reduces construction costs and building time </td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="construction" size="3" value ="{{status.alloc_research_construction}}"><td></tr>
<tr><td>Technology<br>{{status.research_points_tech|intcomma}} Points</td> <td>{{status.research_percent_tech}}%</td> <td>Allow construction of advanced units and buildings</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="technology" size="3"  value ="{{status.alloc_research_tech}}"><td></tr>
<tr><td>Energy<br>{{status.research_points_energy|intcomma}} Points</td> <td>{{status.research_percent_energy}}%</td> <td>Increases your energy production efficency</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="energy" size="3"  value ="{{status.alloc_research_energy}}"><td></tr>
<tr><td>Population<br>{{status.research_points_population|intcomma}} Points</td> <td>{{status.research_percent_population}}%</td> <td>Increases population capacity and rate of growth</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="population" size="3"  value ="{{status.alloc_research_population}}"><td></tr>
<tr><td>Culture<br>{{status.research_points_culture|intcomma}} Points</td> <td>{{status.research_percent_culture}}%</td> <td>Increases psychics capabilities</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="culture" size="3"  value ="{{status.alloc_research_culture}}"><td></tr>
<tr><td>Operations<br>{{status.research_points_operations|intcomma}} Points</td> <td>{{status.research_percent_operations}}%</td> <td>Increases the effectiveness of your agents</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="operations" size="3"  value ="{{status.alloc_research_operations}}"><td></tr>
<tr><td>Portals<br>{{status.research_points_portals|intcomma}} Points</td> <td>{{status.research_percent_portals}}%</td> <td>Increases portal coverage and reduces their upkeep cost</td>
<td><input type="text" pattern="100|[0-9]{1,2}" maxlength="10" name="portals" size="3"  value ="{{status.alloc_research_portals}}"><td></tr>
</table>
<input type="submit" name="rc_alloc_form" value="Change" >
</form>
</div>
</div>
<br>
{% if status.galsel == 1 %}
<form action="/research" method="POST" >
{% elif status.galsel == 2 %}
<form action="/galtwo/research" method="POST" >
{% endif %}
{% csrf_token %}
Estimated research in <input type="text" required="required" pattern="[0-9]+" maxlength="4" name="weeks" value="{{wks}}" size="4"> weeks <input type="submit" name="rc_calc_form" value="Go" >

</form>
{% if calcs.calc != "None" %}
<table style = "border-collapse:separate;border-spacing:10px;">
<tr><td>Military<br></td><td>{{calcs.pwmil|intcomma}} p/wk</td> <td>{{calcs.milpoints|intcomma}} points</td> <td>{{calcs.rpmil}}%</td></tr>
<tr><td>Construction<br></td><td>{{calcs.pwcon|intcomma}} p/wk</td> <td>{{calcs.conpoints|intcomma}} points</td> <td>{{calcs.rpcon}}%</td></tr>
<tr><td>Technology<br></td><td>{{calcs.pwtech|intcomma}} p/wk</td> <td>{{calcs.techpoints|intcomma}} points</td> <td>{{calcs.rptech}}%</td></tr>
<tr><td>Energy<br></td><td>{{calcs.pwnrg|intcomma}} p/wk</td> <td>{{calcs.nrgpoints|intcomma}} points</td> <td>{{calcs.rpnrg}}%</td></tr>
<tr><td>Population<br></td><td>{{calcs.pwpop|intcomma}} p/wk</td> <td>{{calcs.poppoints|intcomma}} points</td> <td>{{calcs.rppop}}%</td></tr>
<tr><td>Culture<br></td><td>{{calcs.pwcul|intcomma}} p/wk</td> <td>{{calcs.culpoints|intcomma}} points</td> <td>{{calcs.rpcul}}%</td></tr>
<tr><td>Operations<br></td><td>{{calcs.pwops|intcomma}} p/wk</td> <td>{{calcs.opspoints|intcomma}} points</td> <td>{{calcs.rpops}}%</td></tr>
<tr><td>Portals<br></td><td>{{calcs.pwpor|intcomma}} p/wk</td> <td>{{calcs.portpoints|intcomma}} points</td> <td>{{calcs.rpport}}%</td></tr>
</table>
<br><br><b>NOTE:</b> Does not take into consideration all Artefacts. Funding and Networth growth and is only an estimate. Research can only increase or decrease by 1% per week.
{% endif %}

</div>


{% endblock %}
