{% extends "base.html" %}

{% load static %}

{% block content %}

<style>
.dropbtn { font-size: 12px;  border: none;  padding: 0px;}
.dropdown {  position: relative;  display: inline-block;}
.dropdown-content {  display: none;  position: absolute;  background-color: #0e151d;  min-width: 100%;  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  z-index: 1;}
.dropdown-content a {  color: #0e151d;  padding: 12px 16px;  text-decoration: none;  display: block;}
.dropdown-content a:hover {background-color: #37506e;}.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #37506e;}



</style>

<style type="text/css">

.row1{}

.row2{
display: table-row;
background-color: rgb(25,38,51);
}

</style>

{% if msg != '' %}
    {{msg|linebreaksbr}}
{% endif %}
<form action="" method="POST">{% csrf_token %}
<table style="width:100%">
<tbody>
<tr>
<td colspan="100%" align="right"><input type="submit" name="landexp" value="Land selected Hovers">
</td></tr>
<tr>
<td style="width:20%"><a href="?order_by=planet">Planet:</a></td>
<td style="width:20%"><a href="?order_by=size">Size:</a></td>
<td style="width:18%"><div class="dropdown"><button class="dropbtn" disabled>Bonus</button>
<div class="dropdown-content">
<a href="?order_by=artefact">Artefacts</a>
<a href="?order_by=bonus_solar">Solar</a>
<a href="?order_by=bonus_mineral">Mineral</a>
<a href="?order_by=bonus_crystal">Crystal</a>
<a href="?order_by=bonus_ectrolium">Ectrolium</a>
<a href="?order_by=bonus_fission">Fission</a></div></div></td>
<td style="width:40%"><div class="dropdown"><button class="dropbtn" disabled>Status</button>
<div class="dropdown-content">
<a href="?order_by=unexplored">Unexplored</a>
<a href="?order_by=user">Owner</a></div></div></td>
<td colspan="2" align="center"><input type="submit" name="exp_scouting" value="Explore Selected"></td>
</tr>

{% for scouting in scouted %}
<tr class="{% cycle 'row2' 'row1' %}">
<td>
{% if scouting.scout < 1.0 %}
	Not fully scouted! 
{% endif %}
{% if status.galsel == 1 %}
<a href="/planet{{scouting.planet.id}}">{{scouting.planet.x}},{{scouting.planet.y}}:{{scouting.planet.i}}</a>
{% elif status.galsel == 2 %}
<a href="/galtwo/planet{{scouting.planet.id}}">{{scouting.planet.x}},{{scouting.planet.y}}:{{scouting.planet.i}}</a>
{% endif %}
</td>
<td>
{% if scouting.scout >= 0.4 %}
	{{scouting.planet.size}}
{% else %}
	unknown size
{% endif %}
</td>
<td>
{% if scouting.planet.artefact is not None and scouting.scout >= 1 %}
	<img src="{{scouting.planet.artefact.image}}" alt="{{scouting.planet.artefact.name}}" title="Artefact" width="16" height="16"></td>
{% elif scouting.planet.bonus_solar and scouting.scout >= 0.9 %}
	<img src="{% static 'pr0.gif' %}" alt="Solar" title="Solar">+{{scouting.planet.bonus_solar}}%
{% elif scouting.planet.bonus_mineral and scouting.scout >= 0.9  %}
	<img src="{% static 'pr1.gif' %}" alt="Mineral" title="Mineral">+{{scouting.planet.bonus_mineral}}%
{% elif scouting.planet.bonus_crystal and scouting.scout >= 0.9  %}
	<img src="{% static 'pr2.gif' %}" alt="Crystal" title="Crystal">+{{scouting.planet.bonus_crystal}}%
{% elif scouting.planet.bonus_ectrolium and scouting.scout >= 0.9 %}
	<img src="{% static 'pr3.gif' %}" alt="Ectro" title="Ectrolium">+{{scouting.planet.bonus_ectrolium}}%
{% elif scouting.planet.bonus_fission and scouting.scout >= 0.9 %}
	<img src="{% static 'pr4.gif' %}" alt="Fission" title="Fission">+{{scouting.planet.bonus_fission}}%
{% endif %}	
</td>

<td>
{% if scouting.planet.owner == None and scouting.planet.home_planet == True %}
	<font color="#B2BEB5">Home Planet</font></td> 
{% elif scouting.planet.owner == None and scouting.planet.home_planet == False %}
	<font color="#00FF00">Unexplored</font></td>
{% elif scouting.planet.owner.id == status.user.id %}
	<font color="#FFFF00">{% if status.galsel == 1 %}{{scouting.planet.owner.userstatus.user_name}}
	{% elif status.galsel == 2 %}{{scouting.planet.owner.galtwouser.user_name}}{% endif %}</font></td>
{% elif scouting.planet.owner.userstatus.empire.id != status.user.userstatus.empire.id or scouting.planet.owner.userstatus.empire == None %}

	{% if status.galsel == 1 %}
	<a href="/account{{scouting.planet.owner.id}}" style="color: #FF0000">
	{{scouting.planet.owner.userstatus.user_name}}
	{% elif status.galsel == 2 %}
	<a href="/galtwo/account{{scouting.planet.owner.id}}" style="color: #FF0000">
	{{scouting.planet.owner.galtwouser.user_name}}
	{% endif %}
	
{% else %}
	{% if status.galsel == 1 %}
	<a href="/account{{scouting.planet.owner.id}}" style="color: #0293FF">
	{{scouting.planet.owner.userstatus.user_name}}
	{% elif status.galsel == 2 %}
	<a href="/galtwo/account{{scouting.planet.owner.id}}" style="color: #0293FF">
	{{scouting.planet.owner.galtwouser.user_name}}
	{% endif %}
</td>
{% endif %}


<td align="center">
{% if scouting.planet.id in expo_fleets.keys %}
	<font color="#0293FF">
	{% for k, v in expo_fleets.items %}
	{% if scouting.planet.id == k and v == status.id %}
	<font color="#FFFF00">	
	{% endif %}{% endfor%}Exploring</font>
{% elif scouting.planet.id in hov_fleets.keys %}
	<font color="#0293FF">
	{% for k, v in hov_fleets.items %}
	{% if scouting.planet.id == k and v == status.id %}
	<font color="#FFFF00">	
	    <input type="checkbox" name="hov_planets" value="{{scouting.planet.id}}">&nbsp;&nbsp;
    {% endif %}{% endfor%}Hovering</font>
{% else %}
	{% if scouting.planet.owner == None  and scouting.planet.home_planet == False%}
	<input type="checkbox" name="exp_planets" value="{{scouting.planet.id}}">
	{% endif %}
{% endif %}


</td>
</tr>
{% endfor %}
</tbody>
</table>
</form>

{% endblock %}
