{% extends "base.html" %}

{% block content %}

{% load mathfilters %}
{% load tags %}

<div id="mapdiv" style="background-color:black;"></div>

<script>
  const width = {{maxX}}+10;
  const height = {{maxY}}+10;
  const circle_radius = 1;
  
   const zoom = d3.zoom()
      .scaleExtent([.5, 200]) // max zoom out, max zoom in
      .on("zoom", zoomed);

  const svg = d3.select("#mapdiv")
    .append("div")
    .append("svg")
    .style("height", '80vh')
    .style("width", '80vw')
    .attr("preserveAspectRatio", "xMidYmin meet")
    .attr("viewBox", [-1, -1, width+1, height+1])
	
	const g = svg.append("g");
	
	{% for key in mapgen %}
    {% with o=mapgen|getvalue:key %}		
	
	g.append("circle")
			.attr("cx", "{{o.x}}")
			.attr("cy", "{{o.y}}")
			.attr("r", circle_radius * 0.55)
			.style("fill", "{{o.sense}}")
			.style("opacity",1)

	
	g.append("circle")
			.attr("cx", "{{o.x}}")
			.attr("cy", "{{o.y}}")
			.attr("r", circle_radius * 0.5)
			.style("fill", "{{o.portal}}")
			.style("opacity",1)
			.style("stroke", "{{o.scout}}")
			.style("stroke-width", 0.05)
	
	{% if o.color2 == "None" %}
		g.append("circle")
			.attr("cx", "{{o.x}}")
			.attr("cy", "{{o.y}}")
			.attr("r", circle_radius * 0.45)
			.style("fill", "{{o.color}}")
			.style("opacity",0.8)
			
			
	
	
	{% elif o.color2 != "None" and o.color3 == "None" %}
		{{o.gradient}} = g.append("g:defs")
			.append("g:linearGradient")
			.attr("id", "{{o.gradient}}")
			.attr("x1", "5%")
			.attr("y1", "5%")
			.attr("x2", "100%")
			.attr("y2", "100%")
			.attr("spreadMethod", "pad");

		{{o.gradient}}.append("svg:stop")
			.attr("offset", "5%")
			.attr("stop-color", "{{o.color}}")
			.attr("stop-opacity", 1);

		{{o.gradient}}.append("svg:stop")
			.attr("offset", "100%")
			.attr("stop-color", "{{o.color2}}")
			.attr("stop-opacity", 1);

		g.append('circle')
			.attr("cx", "{{o.x}}")
			.attr("cy", "{{o.y}}")
			.attr("r", circle_radius * 0.45)
			.attr('fill', 'url(#{{o.gradient}})');
			
	{% elif o.color3 != "None" and o.color4 == "None" %}
		{{o.gradient}} = g.append("g:defs")
			.append("g:linearGradient")
			.attr("id", "{{o.gradient}}")
			.attr("x1", "0%")
			.attr("y1", "0%")
			.attr("x2", "100%")
			.attr("y2", "100%")
			.attr("spreadMethod", "pad");

		{{o.gradient}}.append("svg:stop")
			.attr("offset", "25%")
			.attr("stop-color", "{{o.color}}")
			.attr("stop-opacity", 1);

		{{o.gradient}}.append("svg:stop")
			.attr("offset", "50%")
			.attr("stop-color", "{{o.color2}}")
			.attr("stop-opacity", 1);
		
		{{o.gradient}}.append("svg:stop")
			.attr("offset", "75%")
			.attr("stop-color", "{{o.color3}}")
			.attr("stop-opacity", 1);

		g.append('circle')
			.attr("cx", "{{o.x}}")
			.attr("cy", "{{o.y}}")
			.attr("r", circle_radius * 0.45)
			.attr('fill', 'url(#{{o.gradient}})');
			
	{% elif o.color4 != "None" %}
		{{o.gradient}} = g.append("g:defs")
			.append("g:linearGradient")
			.attr("id", "{{o.gradient}}")
			.attr("x1", "0%")
			.attr("y1", "0%")
			.attr("x2", "100%")
			.attr("y2", "100%")
			.attr("spreadMethod", "pad");

		{{o.gradient}}.append("svg:stop")
			.attr("offset", "20%")
			.attr("stop-color", "{{o.color}}")
			.attr("stop-opacity", 1);

		{{o.gradient}}.append("svg:stop")
			.attr("offset", "40%")
			.attr("stop-color", "{{o.color2}}")
			.attr("stop-opacity", 1);
		
		{{o.gradient}}.append("svg:stop")
			.attr("offset", "60%")
			.attr("stop-color", "{{o.color3}}")
			.attr("stop-opacity", 1);
			
		{{o.gradient}}.append("svg:stop")
			.attr("offset", "80%")
			.attr("stop-color", "{{o.color4}}")
			.attr("stop-opacity", 1);

		g.append('circle')
			.attr("cx", "{{o.x}}")
			.attr("cy", "{{o.y}}")
			.attr("r", circle_radius * 0.45)
			.attr('fill', 'url(#{{o.gradient}})');		
			
	{% endif %}

	{% if o.imgarti != "" %}
		g.append("image")
			.attr("xlink:href", "{{o.imgarti}}")
			.attr("x", {{o.x}}-0.3)
			.attr("y", {{o.y}}-0.3)
			.attr("width", circle_radius *0.6)
			.attr("height", circle_radius *0.6)
	{% endif %}
		
	{% if o.home != "" %}
		g.append("image")
			.attr("xlink:href", "{{o.home}}")
			.attr("x", {{o.x}}-0.3)
			.attr("y", {{o.y}}-0.3)
			.attr("width", circle_radius *0.6)
			.attr("height", circle_radius *0.6)
	{% endif %}		
	
		
	g.append("a")
        {% if status.galsel == 1 %}
		.attr("xlink:href", "/system{{o.id}}")
		{% elif status.galsel == 2 %}
		.attr("xlink:href", "/galtwo/system{{o.id}}")
		{% endif %}
		.append("circle")
		.attr("cx", "{{o.x}}")
		.attr("cy", "{{o.y}}")
		.attr("r", circle_radius * 0.5)
		.style("fill", "black")
		.style("opacity", 0)	
		
		
	{% if narti.empire_holding == status.empire and narti.effect1 == o.id %}
		g.append("circle")
			.attr("cx", {{o.x}}+0.4)
			.attr("cy", {{o.y}}-0.3)
			.attr("r", circle_radius * 0.2)
			.style("fill", "white")
			.style("opacity", 1)
		g.append("image")
			.attr("xlink:href", "{{narti.image}}")
			.attr("x", {{o.x}}+0.25)
			.attr("y", {{o.y}}-0.45)
			.attr("width", circle_radius *0.3)
			.attr("height", circle_radius *0.3)
	{% endif %}	
	
              
	{% endwith %}
	{% endfor %}
	
	
	svg.call(zoom);

  function reset() {
    svg.transition().duration(750).call(
      zoom.transform,
      d3.zoomIdentity,
      d3.zoomTransform(svg.node()).invert([width / 2, height / 2])
    );
  }


  function clicked(d,i) {
    //const [[x0, y0], [x1, y1]] = path.bounds(d);
    console.log(d); // coming back as undefined for circles
    console.log(i); // come back as 0 for every circle
    d3.event.stopPropagation();
    svg.transition().duration(750).call(
      zoom.transform,
      d3.zoomIdentity
        .translate(width / 2, height / 2)
        .scale(Math.min(8, 0.9 / Math.max(circle_radius / width, circle_radius / height)))
        .translate(-width, -height),
      d3.mouse(svg.node())
    );
  }


  function zoomed() {
    const {transform} = d3.event;
    g.attr("transform", transform);
    g.attr("stroke-width", 1 / transform.k);
    
  }
</script>
</div>

{% endblock %}
