{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
	{% if status.galsel == 1 %}
<form action="/vote" method="post">
{% elif status.galsel == 2 %}
<form action="/galtwo/vote" method="post">
{% endif %}

{% csrf_token %}
{% for player in player_list %}
<label for="choice{{ forloop.counter }}">{{ player.user_name }}</label>
<input type="radio" name="choice" value="{{player.id}}"><br>
{% endfor %}
<input type="submit" value="Vote">
</form>
<br>
	{% if status.galsel == 1 %}
<form action="/results" method="post">
{% elif status.galsel == 2 %}
<form action="/galtwo/results" method="post">
{% endif %}


{% endblock %}
